@import "../../../commonStyles/variables.module.scss";
@import "../../../commonStyles/mixins.module.scss";

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;

  &__currentCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
      "prev card next"
      ". pagination .";
    gap: 2rem;
    align-items: center;
  }

  &__card {
    grid-area: card;
  }

  &__prev {
    grid-area: prev;
  }

  &__next {
    grid-area: next;
  }

  &__pagination {
    grid-area: pagination;
    justify-self: center;
    color: $darkBgColor;
    font-weight: 600;

    &_num {
      color: $darkGreenColor;
      font-size: larger;
    }
  }

  .errorMessage {
    text-align: center;
    font-weight: 600;
    font-size: larger;
    color: fade-in($themePink, 0.5);
  }

  &__cardsBox {
    @include flexAlignment;
    justify-content: space-between;
    gap: 2rem;
  }
}
