.link {
  color: rgba(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.link:hover,
.link:active {
  text-decoration: underline;
  color: rgb(109, 218, 88);
}

/* img link styles */
.imgLink {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  fill: rgba(255, 255, 255);
}

.imgLink:hover .searchIcon {
  fill: rgb(109, 218, 88);
}

/* button link styles */
.btnLink {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(77, 160, 60);
  cursor: pointer;
}

.btnLink:hover {
  background-color: rgb(109, 218, 88);
}

.btnLink a {
  color: rgb(29, 29, 29);
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.btnLink a .linkFirstLine {
  font-size: 1.2rem;
}

.btnLink a .linkSecondLine {
  font-size: 0.75rem;
}
