@import "../../../commonStyles/variables.module.scss";
@import "../../../commonStyles/mixins.module.scss";

.card {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 7px #919191;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 3fr;
  grid-template-areas:
    "cardTitle"
    "term"
    "translation";

  &__cardTitle {
    grid-area: cardTitle;
    text-align: center;
    padding-top: 0.7rem;
  }

  &__readCardBtn {
    position: absolute;
    right: 0.5rem;
    top: 0;
    width: 1.2rem;
    height: auto;
  }

  &__term {
    grid-area: term;
    @include flexAlignment;
    font-size: 3rem;
    font-weight: 600;
  }

  &__showTranslation {
    grid-area: translation;
    @include flexAlignment;
    height: min-content;
    justify-self: center;
    max-width: 60%;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border: 1px solid $darkGreenColor;
    border-radius: 0.2rem;
    background-color: $lightGreenFontColor;
    transition: $transition;

    &:hover,
    &:active {
      transform: $transformScale;
    }
  }

  &__translation {
    grid-area: translation;
    @include flexAlignment;
    justify-self: center;
    max-width: 60%;
    font-size: 1.2rem;
    height: min-content;
    padding-top: 0.7rem;
  }
}
