.card {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 7px #919191;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 3fr;
  grid-template-areas: "cardTitle" "term" "translation";
}
.card__cardTitle {
  grid-area: cardTitle;
  text-align: center;
  padding-top: 0.7rem;
}
.card__readCardBtn {
  position: absolute;
  right: 0.5rem;
  top: 0;
  width: 1.2rem;
  height: auto;
}
.card__term {
  grid-area: term;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
}
.card__showTranslation {
  grid-area: translation;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  justify-self: center;
  max-width: 60%;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  border: 1px solid rgb(77, 160, 60);
  border-radius: 0.2rem;
  background-color: rgb(109, 218, 88);
  transition: all ease 0.5s;
}
.card__showTranslation:hover, .card__showTranslation:active {
  transform: scale(0.97);
}
.card__translation {
  grid-area: translation;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  max-width: 60%;
  font-size: 1.2rem;
  height: min-content;
  padding-top: 0.7rem;
}