@import "../../commonStyles/variables.module.scss";
@import "../../commonStyles/mixins.module.scss";

.main {
  background-color: $grayBgColor;
  &__wrapper {
    background-color: $lightFontColor;
    padding: 2rem 3rem;

    .cardsContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &__currentCardContainer {
        @include flexAlignment;
      }

      &__cardsBox {
        @include flexAlignment;
        justify-content: space-between;
        gap: 2rem;
      }
    }

    .commandArea {
      display: flex;
      justify-content: space-between;

      &__commandAreaItem {
        flex: 1 1 auto;
        text-align: center;
      }

      &__link {
        color: $darkBgColor;
        font-weight: 600;
      }

      &__link:hover {
        text-decoration: underline;
        color: $lightGreenFontColor;
      }
    }
    .timer {
      text-align: end;
    }
  }
}
.container {
  @include container;
}

.wordsContainer {
  background-color: $themePink;
}
