.imgLink {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgLink .searchIcon {
  fill: rgb(255, 255, 255);
  transition: all ease 0.5s;
}
.imgLink:hover .searchIcon {
  fill: rgb(109, 218, 88);
}