@import "../../../../commonStyles/variables.module.scss";
@import "../../../../commonStyles/mixins.module.scss";

.cardBox {
  height: 10rem;
  max-width: 16rem;
  flex: 1 1 auto;
  position: relative;

  &__cardHolder {
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: -0.3rem;
    box-shadow: $box-shadow;
    z-index: 200;
    font-weight: 500;
    @include flexAlignment;
    cursor: pointer;
  }
}
