.cardMini {
  width: 14rem;
  height: 10rem;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(29, 29, 29, 0.26);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}
.cardMini__cardTitle {
  text-align: center;
  font-size: 0.8rem;
}
.cardMini__term {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}