@import "../../../../commonStyles/variables.module.scss";
@import "../../../../commonStyles/mixins.module.scss";

.cardMini {
  width: 14rem;
  height: 10rem;
  margin: 0 auto;
  box-shadow: $box-shadow;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;

  &__cardTitle {
    text-align: center;
    font-size: 0.8rem;
  }

  &__term {
    @include flexAlignment;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
  }
}
