@import "../../../commonStyles/variables.module.scss";
@import "../../../commonStyles/mixins.module.scss";

.imgLink {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  @include flexAlignment;

  .searchIcon {
    fill: $lightFontColor;
    transition: $transition;
  }

  &:hover .searchIcon {
    fill: $lightGreenFontColor;
  }
}
